rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /components/{componentId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
    }
    match /tierLists/{tierListId} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.admin == true;
    }
    match /buildRecords/{buildRecordId} {
      allow read, write: if request.auth != null && request.auth.uid == resource.data.userId;
    }
  }
} 